@keyframes breath {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  line-height: 0;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.5);
}

.animation {
  animation-name: breath;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.play-button-animation {
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.pause-button-animation {
  animation-iteration-count: 1;
  animation-direction: alternate;
}
