pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  right: 0;
  left: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism’s padding-top */
  line-height: inherit;
  white-space: pre;
  pointer-events: none;
  background-color: rgba(0 0 0 0.2);
}

@media print {
  .line-highlight {
    /*
		 * This will prevent browsers from replacing the background color with white.
		 * It's necessary because the element is layered on top of the displayed code.
		 */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

.line-highlight::before,
.line-highlight[data-end]::after {
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  font: bold 65%/1.5 sans-serif;
  color: hsl(24deg 20% 95%);
  text-align: center;
  text-shadow: none;
  vertical-align: 0.3em;
  content: attr(data-start);
  background-color: rgba(235 229 226 0.4);
  border-radius: 999px;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]::after {
  top: auto;
  bottom: 0.4em;
  content: attr(data-end);
}

.line-numbers .line-highlight::before,
.line-numbers .line-highlight::after {
  content: none;
}

pre[id].linkable-line-numbers span.line-numbers-rows {
  pointer-events: all;
}

pre[id].linkable-line-numbers span.line-numbers-rows > span::before {
  cursor: pointer;
}

pre[id].linkable-line-numbers span.line-numbers-rows > span:hover::before {
  background-color: rgba(255 255 255 0.4);
}
